html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main{
    width:100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 15px;
    /* background-color: brown; */
}
.main>header{
    text-align: center;
    /* padding-top: 40px;
    padding-bottom: 20px; */
    
}
.main>header>img.logo{
    width: 150px;
    margin-top: 40px;
    margin-bottom: 20px;
    /* margin: 0 auto;
    display: block */
    
}
.main>nav{
    border-top: 1px solid goldenrod;
    border-bottom: 1px solid goldenrod;
    margin-bottom:  20px;
    /* background-color: aqua; */
}
.main>nav>ul{
    display: flex;
}

.main>nav>ul>li{
    /* background-color: goldenrod; 
    */
    
    /* 這是display inline 的排版方式
     */
    /* display: inline-block;
    width: 33.33%;
    margin-right: -4px; */
    /* 這是display flex的排版方式 
    */
    flex: 1;

    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    
}
.main>nav>ul>li>.nav_item{
    text-decoration: none;
    color: #000;
    display: block;
    position: relative;
    width: 100%;
}
.main>nav>ul>li>.nav_item>.nav_child{
    /* background-color: aqua; */
    display: none;
    position: absolute;
    width: 100%;
}
.main>nav>ul>li>.nav_item>.nav_child a{
    text-decoration: none;
    background-color: #dad25f;
    color: #fff;
    line-height: 20px;
    font-size: 16px;
    display: block;
    padding: 10px 20px;
    text-align: left;
}
.main>nav>ul>li>.nav_item>.nav_child a:hover{
    background-color: #000;
}
.main>nav>ul>li>.nav_item:hover{
    background-color: #dcdddd;
}

.main>nav>ul>li>.nav_item:hover .nav_child{
    display: block;
}

.main>.content img{
    width: 100%;
}
.en_text{
    color: goldenrod;
}

@media(max-width:992px){
    .main>nav>ul{
        flex-direction: column;
    }
    .main>nav>ul>li{
        width: 100%;
    }  
}
